@keyframes volkk1 {
    0% {
        transform: translateY(-15%);
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-15%);
    }
}

@keyframes begstrok1 {
    0% {
        transform: translateX(0%);
        top: 1%;
    }

    100% {
        transform: translateX(-50%);
        top: 1%;
    }
}


@keyframes zatmenie {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-220%);
    }

    100% {
         transform: translateX(0%);
    }
}

@keyframes obshe {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes obshe2 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
         opacity: 1;
    }

    100% {
         opacity: 1;
    }
}

@keyframes obshe3 {
    0% {
        opacity: 1;
    }
    100% {
       transform: translateX(20vw);

    }
}

@keyframes shuba {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-20deg);
    }
    100% {
         transform: rotate(0deg);
    }

}

@keyframes shuba1 {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }

}

@keyframes glazun1{
        0% {
                transform: translateX(0);
            }
        
        20% {
                transform: translateX(-0.7vw) translateY(-0.7vw)
            }
        
        40% {
                transform: translateX(0) translateY(0)
            }
        
        60% {
                transform: translateX(0) translateY(0)
            }
        80% {
                transform: translateX(0) translateY(0)
            }
        100% {
                transform: translateX(0) translateY(0)
            }
        
}

@keyframes beg{
    0%{
        background-position-x: 0;
    }
    32% {
        background-position-x: 24.5vw;
    }
}

@keyframes vniz{

    0%, 50% {
            transform: scale(1);

        }

        51%,
        100% {

            transform: scale(0.7);

        }
}
@keyframes vverh {

    0%, 50% {
        transform: scale(1);

    }

    51%, 100% {

        transform: scale(1.3);

    }
}
@keyframes begun {
    0% {
        background-position-x: 18.57vw;
    }

    20% {
        background-position-x: 40.28vw;
    }
    50% {
        background-position-x: 60.42vw;
    }
    100% {
        background-position-x: 60.42vw;
    }
}
@keyframes mena{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}
@keyframes yzorchik1 {
    0% {
        transform: translateY(-90%);
        opacity: 1;
    }

    100% {
        transform: translateY(520%);
        opacity: 1;
    }
}

@keyframes yzorchik2 {
    0% {
        transform: translateY(-120%);
        opacity: 1;
    }

    100% {
        transform: translateY(520%);
        opacity: 1;
    }
}

@keyframes yzorchik3 {
    0% {
        transform: translateY(-90%);
        opacity: 1;
        left: 60%;
    }

    100% {
        transform: translateY(520%);
        opacity: 1;
        left: 60%;
    }
}