body{
    background-color: black;
}
.luna1{
    width: 10%;
    margin-left: 45vw;
    margin-top: 3vw;
}
.lunaa {
    width: 10%;
    margin-left: 1vw;
    margin-top: 3vw;
    position: absolute;
    animation: zatmenie 6s linear infinite;
}
.lunaa:hover {
    animation-play-state: paused;
}
.yolochki1{
    width: 100%;
    margin-top: -13.5vw;
}
.logovo{
    width: 28%;
    margin-top: -25vw;
    margin-left: 36vw;
    position: absolute;
}

.volkk{
    position: absolute;
    width: 24%;
    animation: volkk1 2s linear infinite;
    margin-top: -14vw;
    margin-left: 38vw;
}

h1{
    font-size: 150%;
    font-family: Irch;
}

.begstrok1{
    background-color: white;
    width: 100%;
    height: 5vw;
    margin-top: -1vw;
    font-size: 150%;
    overflow: hidden;
}

.strok1{
    width: 185%;
    animation: begstrok1 5s infinite linear reverse;
    margin-top: 1.4vw;
    
}

.bolshoivolk{
    overflow: hidden;
}

.siluet{
    width: 100%;
    margin-top: -3.7vw;
    margin-left: 8vw;

}

.voskll{
    position: absolute;
    width: 7%;
    margin-top: 10vw;
    margin-left: 2.5vw
}

.voskl2 {
    position: absolute;
    width: 4.7%;
    margin-top: 4vw;
    margin-left: 7.6vw;
}
.voskl3 {
    position: absolute;
    width: 2.8%;
    margin-top: 6vw;
    margin-left: 15vw;
}

.glazy1{
    position: absolute;
    animation: glazun1 5s infinite linear;
    width: 4%;
    margin-top: -22.5vw;
    margin-left: 30vw;
}

.glazy2 {
    position: absolute;
    width: 2%;
    margin-top: -25.55vw;
    margin-left: 34.6vw;
}

.glazy3 {
    position: absolute;
    width: 2%;
    margin-top: -21.5vw;
    margin-left: 25.6vw;
}
.glazy4 {
    position: absolute;
    width: 2%;
    margin-top: -18.3vw;
    margin-left: 22vw;
}

.begstroka2{
    margin-top: 20vw;
}
.begstrokbg{
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 5vw;
    margin-top: 28vw;
    font-size: 150%;
    overflow: hidden;

}

.citat{
    width: 195%;
    animation: begstrok1 5s infinite linear reverse;
    margin-top: 1.8vw;
}

.obshi{
    position: absolute;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0) translateY(0) scale(1);
    overflow: hidden;
}
.obshi:hover {
    transform: translateX(20%) translateY(7%) scale(0.7);
}
.s1{
    position: absolute;
    animation: shuba 2s infinite linear;
    width: 2.2%;
    margin-top: -16vw;
    margin-left: 43vw;
}

.s2 {
    position: absolute;
    animation: shuba1 2s infinite linear;
    width: 5%;
    margin-top: -19vw;
    margin-left: 46vw;
}

.s3 {
    position: absolute;
    animation: shuba1 2s infinite linear;
    width: 6%;
    margin-top: -22vw;
    margin-left: 52vw;

}

.s4 {
    position: absolute;
    animation: shuba1 2s infinite linear;
    width: 6.2%;
    margin-top: -24vw;
    margin-left: 58vw

}

.s5 {
    position: absolute;
    animation: shuba1 2s infinite linear;
    width: 6.2%;
    margin-top: -23vw;
    margin-left: 68vw
}

.s6 {
    position: absolute;
    animation: shuba1 2s infinite linear;
    width: 6.2%;
    margin-top: -23vw;
    margin-left: 68vw
}

.s7 {
    position: absolute;
    animation: shuba1 2s infinite linear;
    width: 6.2%;
    margin-top: -20vw;
    margin-left: 80vw;
}

.s8 {
    position: absolute;
    animation: shuba1 2s infinite linear;
    width: 6.2%;
    margin-top: -14vw;
    margin-left: 90vw
}

.s9 {
    position: absolute;
    animation: shuba1 2s infinite linear;
    width: 6.2%;
    margin-top: -13vw;
    margin-left: 80vw;
}

.s10 {
    position: absolute;
    animation: shuba1 2s infinite linear;
    width: 6.2%;
    margin-top: -13vw;
    margin-left: 70vw;
}

.s11 {
    position: absolute;
    animation: shuba1 2s infinite linear;
    width: 6.2%;
    margin-top: -13vw;
    margin-left: 60vw;
}

.s12 {
    position: absolute;
    animation: shuba1 2s infinite linear;
    width: 5.8%;
    margin-top: -13vw;
    margin-left: 47.3vw;
}

.s13 {
    position: absolute;
    animation: shuba1 2s infinite linear;
    width: 6.2%;
    margin-top: -18vw;
    margin-left: 60vw;
}

.s14 {
    position: absolute;
    animation: shuba1 2s infinite linear;
    width: 6.2%;
    margin-top: -18vw;
    margin-left: 68vw;
}

.s15 {
    position: absolute;
    animation: shuba1 2s infinite linear;
    width: 6.2%;
    margin-top: -17vw;
    margin-left: 52vw;
}

.volkfon{
    background-color:white;
    position: absolute;
    width: 100%;
    height: 15vw;
    margin-top: 33.5vw;
}

#volkbeg{
    width: 24.57vw;
    height: 10.42vw;
    background-image: url('../images/anima2.png');
    background-size: 73.73vw 10.42vw;
    animation: beg 1s steps(1) alternate infinite;
}